<template>
  <div>
    <h1>Данные</h1>
    <div class="table">
    <div class="table-header">
      <div
          class="table-header__item"
          v-for="item in headerItems"
          :key="item"
      >
        <p>{{ item.toUpperCase() }}</p>
        <button @click="sortData(item, 'ASC')">По возрастанию</button>
        <button @click="sortData(item, 'DESC')">По убыванию</button>
      </div>
    </div>
    </div>
    <div class="table-row" v-for="(row, index) in filteredRows" :key="index">
      <div class="table-column__item" v-for="column in Object.values(row)" :key="column">
        {{ column }}
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, ref } from "vue";

const props = defineProps({
  rows: {
    type: Array,
    required: true,
  },
});

const shallowRows = ref([...props.rows]);
const searchTerm = ref("");

const headerItems = computed(() => {
  return Object.keys(props.rows[0]);
});

const filteredRows = computed(() => {
  return shallowRows.value.filter((row) => {
    return Object.values(row).some((value) =>
        value.toString().toLowerCase().includes(searchTerm.value.toLowerCase())
    );
  });
});

const sortData = (sortBy, direction) => {
  shallowRows.value = shallowRows.value.sort((a, b) => {
    const aValue = a[sortBy];
    const bValue = b[sortBy];

    if (typeof aValue === "string" && typeof bValue === "string") {
      return direction === "ASC" ? aValue.localeCompare(bValue) : bValue.localeCompare(aValue);
    } else {
      return direction === "ASC" ? aValue - bValue : bValue - aValue;
    }
  });
};

const handleSearch = (event) => {
  searchTerm.value = event.target.value;
};
</script>


<style>
.table {
  margin-top: 25px;
  width: 100%;
}

.table-header,
.table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-header__item,
.table-column__item {
  flex: 1;
  max-width: 750px; /* Задайте фиксированную максимальную ширину */
  border: solid 2px #4d4d4d;
  padding: 40px 20px;
  box-sizing: border-box;
  overflow: hidden; /* Обрезает длинные тексты */
  text-overflow: ellipsis; /* Добавляет многоточие при обрезке текста */
}

.table-header__item p {
  margin-bottom: 20px;
}

button {
  border: 0;
  border-radius: 5px;
  outline: none;
  padding: 5px 3px;
  background:rgba(117,184,123,0.42) ;
  font-weight: bold;
  cursor: pointer;
  transition: transform 500ms ease;
  margin-top: 8px;
}
button:hover{
  transform: translateY(-5px);
}
.table-row:nth-child(even) {
  background-color: #675a5a;
}
</style>
